mixin benefits()
  .benefits

      .benefits__top
        .benefits__bg-polygon
          img(src="img/svg/group-293.svg" width="702", height="939", alt="bg image")
        .container
          .benefits__img
            +img("content", "contacts", "png", "536", "400", "Пример")
            +img("content", "chat", "png", "209", "396", "Пример")
          .benefits__text
            h2.benefits__title.title.title--h2 Больше возможностей  для бизнеса с групповыми звонками

            .benefits__info
              p(class="benefits__paragraph") Одновременное участие в конференции до 8 человек, возможность&nbsp;демонстрации экрана, переписка в&nbsp;удобном текстовом&nbsp;чате – в VideoApplication есть все для комфортного&nbsp;обсуждения проектов.
              .benefits__btns
                button.benefits__btn.btn.btn--bg-purple(type="button", aria-label="начать конферененцию", aria-pressed="false") начать конферененцию

      .benefits__center
        .benefits__bg-polygon
          img(src="img/svg/group-294.svg" width="580", height="803", alt="bg image")
        .container
          .benefits__text
            h2.benefits__title.title.title--h2 Повышенная безопасность

            .benefits__info
              p(class="benefits__paragraph") Защиту соединения обеспечивает технология WebRTC. При желании вы можете выбрать закрытый тип конференции. В таком случае собеседник сможет присоединиться к звонку только после авторизации или&nbsp;через функцию распознавания лица.
              .benefits__btns
                button.benefits__btn.btn.btn--bg-purple(type="button", aria-label="начать конференцию", aria-pressed="false") начать конференцию

          .benefits__img
            +img("content", "person-3", "png", "536", "400", "Пример")
            +icon("group-286", 86, 70)
            +img("content", "group-281", "png", "400", "144", "Пример")


      .benefits__bottom
        .benefits__bg-polygon
          img(src="img/svg/polygon-1.svg" width="690", height="870", alt="bg image")
        .container
          .benefits__img
            +img("content", "girls", "png", "410", "410", "Пример")
            +icon("group-287", 86, 70)
            +img("content", "family", "png", "245", "464", "Пример")

          .benefits__text
            h2.benefits__title.title.title--h2 Удобный доступ с любого устройства

            .benefits__info
              p(class="benefits__paragraph") VideoApplication не требует установки приложения: просто отправьте ссылку. Ответить на звонок можно прямо из браузера на смартфоне, планшете или компьютере.
              .benefits__btns
                button.benefits__btn.btn.btn--bg-purple(type="button", aria-label="начать звонок", aria-pressed="false") начать звонок
                button.benefits__btn.btn.btn--border-purple(type="button", aria-label="конференция", aria-pressed="false") конференция
