mixin features()
  .features

    .container
      div(class="features__list")
        div(class="feature")
          button(class="btn btn--bg-transparent feature-btn") Бесплатно
        div(class="feature")
          button(class="btn btn--bg-transparent feature-btn") Вход по ссылке
        div(class="feature")
          button(class="btn btn--bg-transparent feature-btn") Без ограничений по времени
        div(class="feature")
          button(class="btn btn--bg-transparent feature-btn") Звонки из браузера
        div(class="feature")
          button(class="btn btn--bg-transparent feature-btn") Демонстрация экрана
        div(class="feature")
          button(class="btn btn--bg-transparent feature-btn") Безопасно
